body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u257_img {
=======
#u458_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u257 {
=======
#u458 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u258 {
=======
#u459 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u259 {
  position:absolute;
  left:221px;
  top:703px;
  width:631px;
  height:515px;
  overflow:hidden;
}
#u259_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:515px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u259_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
=======
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u257.a {
}
#u257_img.a {
}
#u258.a {
}
#u259.a {
  position:absolute;
  left:221px;
  top:703px;
  width:631px;
  height:515px;
}
#u259_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
=======
#u458.a {
}
#u458_img.a {
}
#u459.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
}
