body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u25 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:960px;
  top:120px;
  width:80px;
  height:56px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:34px;
  top:96px;
  width:136px;
  height:121px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:940px;
  top:1664px;
  width:118px;
  height:121px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:440px;
  top:1640px;
  width:200px;
  height:170px;
  overflow:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u24.a {
}
#u24_img.a {
}
#u25.a {
}
#u26.a {
}
#u26_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27.a {
}
#u28.a {
  position:absolute;
  left:34px;
  top:96px;
  width:136px;
  height:121px;
}
#u28_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u29.a {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
#u29_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u30.a {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
#u30_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u31.a {
  position:absolute;
  left:940px;
  top:1664px;
  width:118px;
  height:121px;
}
#u31_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u32.a {
  position:absolute;
  left:440px;
  top:1640px;
  width:200px;
  height:170px;
}
#u32_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
