body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u454 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  position:absolute;
  left:940px;
  top:1390px;
  width:124px;
  height:113px;
}
#u456 {
  position:absolute;
  left:2px;
  top:48px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
  overflow:hidden;
}
#u457_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u457_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
