body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u70 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:64px;
  width:185px;
  height:146px;
  overflow:hidden;
}
#u71_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:146px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:906px;
  top:91px;
  width:174px;
  height:119px;
  overflow:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:20px;
  top:1310px;
  width:180px;
  height:170px;
  overflow:hidden;
}
#u73_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:0px;
  top:1280px;
  width:1080px;
  height:640px;
  opacity:0.5;
}
#u77 {
  position:absolute;
  left:2px;
  top:312px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:99px;
  top:1360px;
  width:193px;
  height:195px;
}
#u79 {
  position:absolute;
  left:2px;
  top:90px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:787px;
  top:1360px;
  width:193px;
  height:195px;
}
#u81 {
  position:absolute;
  left:2px;
  top:90px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:102px;
}
#u82 {
  position:absolute;
  left:825px;
  top:1402px;
  width:116px;
  height:102px;
}
#u83 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:107px;
}
#u84 {
  position:absolute;
  left:131px;
  top:1402px;
  width:131px;
  height:107px;
}
#u85 {
  position:absolute;
  left:2px;
  top:46px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:447px;
  top:1360px;
  width:193px;
  height:195px;
}
#u87 {
  position:absolute;
  left:2px;
  top:90px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:102px;
}
#u88 {
  position:absolute;
  left:487px;
  top:1397px;
  width:116px;
  height:102px;
}
#u89 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:68px;
  top:1720px;
}
#u90_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u90_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:120px;
  font-size:48px;
}
#u92 {
  position:absolute;
  left:2px;
  top:32px;
  width:939px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:154px;
  top:1626px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:503px;
  top:1626px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:842px;
  top:1625px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u69.a {
}
#u69_img.a {
}
#u70.a {
}
#u71.a {
  position:absolute;
  left:0px;
  top:64px;
  width:185px;
  height:146px;
}
#u71_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u72.a {
  position:absolute;
  left:906px;
  top:91px;
  width:174px;
  height:119px;
}
#u72_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u73.a {
  position:absolute;
  left:20px;
  top:1310px;
  width:180px;
  height:170px;
}
#u73_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u76.a {
}
#u76_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77.a {
}
#u78.a {
}
#u78_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79.a {
}
#u80.a {
}
#u80_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81.a {
}
#u82.a {
}
#u82_img.a {
}
#u83.a {
}
#u84.a {
}
#u84_img.a {
}
#u85.a {
}
#u86.a {
}
#u86_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87.a {
}
#u88.a {
}
#u88_img.a {
}
#u89.a {
}
#u90.a {
  position:absolute;
  left:68px;
  top:1720px;
}
#u91.a {
}
#u91_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u92.a {
}
#u90_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u93.a {
}
#u93_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u94.a {
}
#u95.a {
}
#u95_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u96.a {
}
#u97.a {
}
#u97_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u98.a {
}
