body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u56_img {
=======
#u69_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u56 {
=======
#u69 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u57 {
=======
#u70 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u58 {
=======
#u71 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:21px;
  width:185px;
  height:189px;
  overflow:hidden;
}
<<<<<<< HEAD
#u58_state0 {
=======
#u71_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:189px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u58_state0_content {
=======
#u71_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u59 {
=======
#u72 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:906px;
  top:91px;
  width:174px;
  height:119px;
  overflow:hidden;
}
<<<<<<< HEAD
#u59_state0 {
=======
#u72_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u59_state0_content {
=======
#u72_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u60 {
=======
#u73 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:20px;
  top:1310px;
  width:180px;
  height:170px;
  overflow:hidden;
}
<<<<<<< HEAD
#u60_state0 {
=======
#u73_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u60_state0_content {
=======
#u73_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u61 {
=======
#u74 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u62 {
=======
#u75 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u63_div {
=======
#u76_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u63 {
=======
#u76 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1280px;
  width:1080px;
  height:640px;
  opacity:0.5;
}
<<<<<<< HEAD
#u64 {
=======
#u77 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:312px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u65_div {
=======
#u78_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u65 {
=======
#u78 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:99px;
  top:1360px;
  width:193px;
  height:195px;
}
<<<<<<< HEAD
#u66 {
=======
#u79 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:90px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u67_div {
=======
#u80_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u67 {
=======
#u80 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:787px;
  top:1360px;
  width:193px;
  height:195px;
}
<<<<<<< HEAD
#u68 {
=======
#u81 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:90px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u69_img {
=======
#u82_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:102px;
}
<<<<<<< HEAD
#u69 {
=======
#u82 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:825px;
  top:1402px;
  width:116px;
  height:102px;
}
<<<<<<< HEAD
#u70 {
=======
#u83 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u71_img {
=======
#u84_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:107px;
}
<<<<<<< HEAD
#u71 {
=======
#u84 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:131px;
  top:1402px;
  width:131px;
  height:107px;
}
<<<<<<< HEAD
#u72 {
=======
#u85 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:46px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u73_div {
=======
#u86_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u73 {
=======
#u86 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:447px;
  top:1360px;
  width:193px;
  height:195px;
}
<<<<<<< HEAD
#u74 {
=======
#u87 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:90px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u75_img {
=======
#u88_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:102px;
}
<<<<<<< HEAD
#u75 {
=======
#u88 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:487px;
  top:1397px;
  width:116px;
  height:102px;
}
<<<<<<< HEAD
#u76 {
=======
#u89 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u77 {
=======
#u90 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:68px;
  top:1720px;
}
<<<<<<< HEAD
#u77_state0 {
=======
#u90_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
<<<<<<< HEAD
#u77_state0_content {
=======
#u90_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u78_div {
=======
#u91_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
<<<<<<< HEAD
#u78 {
=======
#u91 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:120px;
  font-size:48px;
}
<<<<<<< HEAD
#u79 {
=======
#u92 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:32px;
  width:939px;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u80_div {
=======
#u93_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u80 {
=======
#u93 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:154px;
  top:1626px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u81 {
=======
#u94 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u82_div {
=======
#u95_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u82 {
=======
#u95 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:503px;
  top:1626px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u83 {
=======
#u96 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u84_div {
=======
#u97_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u84 {
=======
#u97 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:842px;
  top:1625px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u85 {
=======
#u98 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u56.a {
}
#u56_img.a {
}
#u57.a {
}
#u58.a {
=======
#u69.a {
}
#u69_img.a {
}
#u70.a {
}
#u71.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:21px;
  width:185px;
  height:189px;
}
<<<<<<< HEAD
#u58_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u59.a {
=======
#u71_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u72.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:906px;
  top:91px;
  width:174px;
  height:119px;
}
<<<<<<< HEAD
#u59_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u60.a {
=======
#u72_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u73.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:20px;
  top:1310px;
  width:180px;
  height:170px;
}
<<<<<<< HEAD
#u60_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u63.a {
}
#u63_div.a {
=======
#u73_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u76.a {
}
#u76_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u64.a {
}
#u65.a {
}
#u65_div.a {
=======
#u77.a {
}
#u78.a {
}
#u78_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u66.a {
}
#u67.a {
}
#u67_div.a {
=======
#u79.a {
}
#u80.a {
}
#u80_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u68.a {
}
#u69.a {
}
#u69_img.a {
}
#u70.a {
}
#u71.a {
}
#u71_img.a {
}
#u72.a {
}
#u73.a {
}
#u73_div.a {
=======
#u81.a {
}
#u82.a {
}
#u82_img.a {
}
#u83.a {
}
#u84.a {
}
#u84_img.a {
}
#u85.a {
}
#u86.a {
}
#u86_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u74.a {
}
#u75.a {
}
#u75_img.a {
}
#u76.a {
}
#u77.a {
=======
#u87.a {
}
#u88.a {
}
#u88_img.a {
}
#u89.a {
}
#u90.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:68px;
  top:1720px;
}
<<<<<<< HEAD
#u78.a {
}
#u78_div.a {
=======
#u91.a {
}
#u91_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:120px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
<<<<<<< HEAD
#u79.a {
}
#u77_state0.a {
=======
#u92.a {
}
#u90_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
<<<<<<< HEAD
#u80.a {
}
#u80_div.a {
=======
#u93.a {
}
#u93_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u81.a {
}
#u82.a {
}
#u82_div.a {
=======
#u94.a {
}
#u95.a {
}
#u95_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u83.a {
}
#u84.a {
}
#u84_div.a {
=======
#u96.a {
}
#u97.a {
}
#u97_div.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u85.a {
=======
#u98.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
}
