body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u729 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:0px;
  top:52px;
  width:152px;
  height:184px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u731 {
  position:absolute;
  left:184px;
  top:224px;
  width:268px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u728.a {
}
#u728_img.a {
}
#u729.a {
}
#u730.a {
}
#u731.a {
}
