body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u718 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:227px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u720 {
  position:absolute;
  left:184px;
  top:224px;
  width:268px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u717.a {
}
#u717_img.a {
}
#u718.a {
}
#u719.a {
}
#u720.a {
}
