body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u595_img {
=======
#u2366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u2368 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u596 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597 {
  position:absolute;
  left:0px;
  top:40px;
  width:238px;
  height:172px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
=======
#u2369 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2370 {
  position:absolute;
  left:475px;
  top:68px;
  width:163px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u2372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u2372 {
  position:absolute;
  left:33px;
  top:70px;
  width:35px;
  height:60px;
}
#u2373 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  position:absolute;
  left:0px;
  top:192px;
  width:1080px;
  height:194px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u2377 {
  position:absolute;
  left:29px;
  top:216px;
  width:145px;
  height:145px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2379 {
  position:absolute;
  left:58px;
  top:231px;
  width:87px;
  height:102px;
}
#u2380 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2381 {
  position:absolute;
  left:209px;
  top:267px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2384 {
  position:absolute;
  left:0px;
  top:410px;
  width:1080px;
  height:194px;
}
#u2385 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u2386 {
  position:absolute;
  left:29px;
  top:435px;
  width:145px;
  height:145px;
}
#u2387 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2388 {
  position:absolute;
  left:58px;
  top:449px;
  width:87px;
  height:102px;
}
#u2389 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2390 {
  position:absolute;
  left:203px;
  top:483px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:0px;
  top:623px;
  width:1080px;
  height:194px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u2395 {
  position:absolute;
  left:29px;
  top:648px;
  width:145px;
  height:145px;
}
#u2396 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2397 {
  position:absolute;
  left:58px;
  top:662px;
  width:87px;
  height:102px;
}
#u2398 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2399 {
  position:absolute;
  left:203px;
  top:694px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2400 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2402 {
  position:absolute;
  left:0px;
  top:841px;
  width:1080px;
  height:194px;
}
#u2403 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u2404 {
  position:absolute;
  left:29px;
  top:865px;
  width:145px;
  height:145px;
}
#u2405 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2406 {
  position:absolute;
  left:58px;
  top:880px;
  width:87px;
  height:102px;
}
#u2407 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2408 {
  position:absolute;
  left:203px;
  top:913px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2409 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2411 {
  position:absolute;
  left:0px;
  top:1054px;
  width:1080px;
  height:194px;
}
#u2412 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u2413 {
  position:absolute;
  left:29px;
  top:1078px;
  width:145px;
  height:145px;
}
#u2414 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2415 {
  position:absolute;
  left:58px;
  top:1092px;
  width:87px;
  height:102px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2417 {
  position:absolute;
  left:203px;
  top:1122px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2418 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  position:absolute;
  left:0px;
  top:1272px;
  width:1080px;
  height:194px;
}
#u2421 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u2422 {
  position:absolute;
  left:29px;
  top:1296px;
  width:145px;
  height:145px;
}
#u2423 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2424 {
  position:absolute;
  left:58px;
  top:1311px;
  width:87px;
  height:102px;
}
#u2425 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2426 {
  position:absolute;
  left:203px;
  top:1340px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2427 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2428 {
  position:absolute;
  left:840px;
  top:248px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2429 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2430 {
  position:absolute;
  left:860px;
  top:268px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2431 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2432 {
  position:absolute;
  left:860px;
  top:486px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2433 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2434 {
  position:absolute;
  left:860px;
  top:692px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2435 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2436 {
  position:absolute;
  left:860px;
  top:910px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2437 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2438 {
  position:absolute;
  left:860px;
  top:1132px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2439 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2440 {
  position:absolute;
  left:860px;
  top:1341px;
  width:145px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2441 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2442 {
  position:absolute;
  left:840px;
  top:466px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2443 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2444 {
  position:absolute;
  left:840px;
  top:672px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2445 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2446 {
  position:absolute;
  left:840px;
  top:890px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2447 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2448 {
  position:absolute;
  left:840px;
  top:1112px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2449 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2450 {
  position:absolute;
  left:840px;
  top:1321px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2451 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2452 {
  position:absolute;
  left:0px;
  top:15px;
  width:139px;
  height:170px;
  overflow:hidden;
}
#u2452_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2452_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u595.a {
}
#u595_img.a {
}
#u596.a {
}
#u597.a {
=======
#u2368.a {
}
#u2368_img.a {
}
#u2369.a {
}
#u2370.a {
}
#u2370_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2371.a {
}
#u2372.a {
}
#u2372_img.a {
}
#u2373.a {
}
#u2375.a {
}
#u2375_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2376.a {
}
#u2377.a {
}
#u2377_img.a {
}
#u2378.a {
}
#u2379.a {
}
#u2379_img.a {
}
#u2380.a {
}
#u2381.a {
}
#u2381_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2382.a {
}
#u2384.a {
}
#u2384_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2385.a {
}
#u2386.a {
}
#u2386_img.a {
}
#u2387.a {
}
#u2388.a {
}
#u2388_img.a {
}
#u2389.a {
}
#u2390.a {
}
#u2390_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2391.a {
}
#u2393.a {
}
#u2393_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2394.a {
}
#u2395.a {
}
#u2395_img.a {
}
#u2396.a {
}
#u2397.a {
}
#u2397_img.a {
}
#u2398.a {
}
#u2399.a {
}
#u2399_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2400.a {
}
#u2402.a {
}
#u2402_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2403.a {
}
#u2404.a {
}
#u2404_img.a {
}
#u2405.a {
}
#u2406.a {
}
#u2406_img.a {
}
#u2407.a {
}
#u2408.a {
}
#u2408_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2409.a {
}
#u2411.a {
}
#u2411_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2412.a {
}
#u2413.a {
}
#u2413_img.a {
}
#u2414.a {
}
#u2415.a {
}
#u2415_img.a {
}
#u2416.a {
}
#u2417.a {
}
#u2417_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2418.a {
}
#u2420.a {
}
#u2420_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2421.a {
}
#u2422.a {
}
#u2422_img.a {
}
#u2423.a {
}
#u2424.a {
}
#u2424_img.a {
}
#u2425.a {
}
#u2426.a {
}
#u2426_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2427.a {
}
#u2428.a {
}
#u2428_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2429.a {
}
#u2430.a {
}
#u2430_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2431.a {
}
#u2432.a {
}
#u2432_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2433.a {
}
#u2434.a {
}
#u2434_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2435.a {
}
#u2436.a {
}
#u2436_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2437.a {
}
#u2438.a {
}
#u2438_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2439.a {
}
#u2440.a {
}
#u2440_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2441.a {
}
#u2442.a {
}
#u2442_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2443.a {
}
#u2444.a {
}
#u2444_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2445.a {
}
#u2446.a {
}
#u2446_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2447.a {
}
#u2448.a {
}
#u2448_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2449.a {
}
#u2450.a {
}
#u2450_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2451.a {
}
#u2452.a {
  position:absolute;
  left:0px;
  top:15px;
  width:139px;
  height:170px;
}
#u2452_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
}
