body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1947 {
  position:absolute;
  left:475px;
  top:68px;
  width:163px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u1949 {
  position:absolute;
  left:33px;
  top:70px;
  width:35px;
  height:60px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:0px;
  top:192px;
  width:1080px;
  height:194px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u1954 {
  position:absolute;
  left:29px;
  top:216px;
  width:145px;
  height:145px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u1956 {
  position:absolute;
  left:58px;
  top:231px;
  width:87px;
  height:102px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1958 {
  position:absolute;
  left:209px;
  top:267px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1961 {
  position:absolute;
  left:0px;
  top:410px;
  width:1080px;
  height:194px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u1963 {
  position:absolute;
  left:29px;
  top:435px;
  width:145px;
  height:145px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u1965 {
  position:absolute;
  left:58px;
  top:449px;
  width:87px;
  height:102px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1967 {
  position:absolute;
  left:203px;
  top:483px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  position:absolute;
  left:0px;
  top:623px;
  width:1080px;
  height:194px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u1972 {
  position:absolute;
  left:29px;
  top:648px;
  width:145px;
  height:145px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u1974 {
  position:absolute;
  left:58px;
  top:662px;
  width:87px;
  height:102px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1976 {
  position:absolute;
  left:203px;
  top:694px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:0px;
  top:841px;
  width:1080px;
  height:194px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u1981 {
  position:absolute;
  left:29px;
  top:865px;
  width:145px;
  height:145px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u1983 {
  position:absolute;
  left:58px;
  top:880px;
  width:87px;
  height:102px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1985 {
  position:absolute;
  left:203px;
  top:913px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:0px;
  top:1054px;
  width:1080px;
  height:194px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u1990 {
  position:absolute;
  left:29px;
  top:1078px;
  width:145px;
  height:145px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u1992 {
  position:absolute;
  left:58px;
  top:1092px;
  width:87px;
  height:102px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1994 {
  position:absolute;
  left:203px;
  top:1122px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1997 {
  position:absolute;
  left:0px;
  top:1272px;
  width:1080px;
  height:194px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:89px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u1999 {
  position:absolute;
  left:29px;
  top:1296px;
  width:145px;
  height:145px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:102px;
}
#u2001 {
  position:absolute;
  left:58px;
  top:1311px;
  width:87px;
  height:102px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:43px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2003 {
  position:absolute;
  left:203px;
  top:1340px;
  width:147px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2005 {
  position:absolute;
  left:840px;
  top:248px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2006 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2007 {
  position:absolute;
  left:891px;
  top:271px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2009 {
  position:absolute;
  left:835px;
  top:469px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2010 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2011 {
  position:absolute;
  left:875px;
  top:492px;
  width:109px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2013 {
  position:absolute;
  left:835px;
  top:680px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2014 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2015 {
  position:absolute;
  left:886px;
  top:703px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2017 {
  position:absolute;
  left:835px;
  top:897px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2018 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2019 {
  position:absolute;
  left:886px;
  top:920px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2021 {
  position:absolute;
  left:835px;
  top:1102px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2022 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2023 {
  position:absolute;
  left:886px;
  top:1125px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2025 {
  position:absolute;
  left:835px;
  top:1328px;
  width:185px;
  height:82px;
  color:#F2F2F2;
}
#u2026 {
  position:absolute;
  left:2px;
  top:33px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2027 {
  position:absolute;
  left:886px;
  top:1351px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2029 {
  position:absolute;
  left:0px;
  top:12px;
  width:174px;
  height:170px;
  overflow:hidden;
}
#u2029_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2029_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
