body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u389_img {
=======
#u2111_div {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
<<<<<<< HEAD
}
#u389 {
=======
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2111 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u390 {
=======
#u2112 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u391 {
  position:absolute;
  left:0px;
  top:21px;
  width:255px;
  height:215px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
=======
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1813px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:107px;
  width:1080px;
  height:1813px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:898px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:107px;
  overflow:hidden;
}
#u2115_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:107px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u2116 {
  position:absolute;
  left:40px;
  top:13px;
  width:35px;
  height:60px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:0px;
  top:793px;
  width:1080px;
  height:1127px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:556px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:77px;
}
#u2121 {
  position:absolute;
  left:48px;
  top:965px;
  width:48px;
  height:77px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:30px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2123 {
  position:absolute;
  left:136px;
  top:982px;
  width:685px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  white-space:nowrap;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2125 {
  position:absolute;
  left:48px;
  top:848px;
  width:321px;
  height:21px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:61px;
}
#u2127 {
  position:absolute;
  left:48px;
  top:1086px;
  width:58px;
  height:61px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2129 {
  position:absolute;
  left:121px;
  top:1094px;
  width:221px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:61px;
}
#u2131 {
  position:absolute;
  left:48px;
  top:1209px;
  width:48px;
  height:61px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:22px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u2133 {
  position:absolute;
  left:121px;
  top:1219px;
  width:941px;
  height:81px;
  font-size:36px;
  color:#999999;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:91px;
}
#u2135 {
  position:absolute;
  left:949px;
  top:0px;
  width:102px;
  height:91px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:38px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:81px;
}
#u2137 {
  position:absolute;
  left:789px;
  top:0px;
  width:77px;
  height:81px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:815px;
  top:645px;
}
#u2139_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2142 {
  position:absolute;
  left:31px;
  top:60px;
  width:109px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145 {
  position:absolute;
  left:949px;
  top:1438px;
  width:33px;
  height:29px;
  overflow:hidden;
}
#u2145_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2145_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2148 {
  position:absolute;
  left:48px;
  top:1438px;
  width:460px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2150 {
  position:absolute;
  left:58px;
  top:1570px;
  width:421px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:127px;
}
#u2153 {
  position:absolute;
  left:523px;
  top:422px;
  width:82px;
  height:127px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:56px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:81px;
}
#u2155 {
  position:absolute;
  left:392px;
  top:468px;
  width:53px;
  height:81px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:32px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:81px;
}
#u2157 {
  position:absolute;
  left:722px;
  top:518px;
  width:53px;
  height:81px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:32px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:81px;
}
#u2159 {
  position:absolute;
  left:741px;
  top:345px;
  width:53px;
  height:81px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:32px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161 {
  position:absolute;
  left:44px;
  top:1731px;
}
#u2161_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2161_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:65px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:65px;
  font-size:40px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
}
#u2164 {
  position:absolute;
  left:465px;
  top:11px;
  width:104px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u389.a {
}
#u389_img.a {
}
#u390.a {
}
#u391.a {
=======
#u2111.a {
}
#u2111_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112.a {
}
#u2113.a {
}
#u2113_img.a {
}
#u2114.a {
}
#u2115.a {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:107px;
}
#u2116.a {
}
#u2116_img.a {
}
#u2117.a {
}
#u2115_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2119.a {
}
#u2119_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120.a {
}
#u2121.a {
}
#u2121_img.a {
}
#u2122.a {
}
#u2123.a {
}
#u2123_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2124.a {
}
#u2125.a {
}
#u2125_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u2126.a {
}
#u2127.a {
}
#u2127_img.a {
}
#u2128.a {
}
#u2129.a {
}
#u2129_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2130.a {
}
#u2131.a {
}
#u2131_img.a {
}
#u2132.a {
}
#u2133.a {
}
#u2133_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u2134.a {
}
#u2135.a {
}
#u2135_img.a {
}
#u2136.a {
}
#u2137.a {
}
#u2137_img.a {
}
#u2138.a {
}
#u2139.a {
  position:absolute;
  left:815px;
  top:645px;
}
#u2140.a {
}
#u2140_img.a {
}
#u2141.a {
}
#u2142.a {
}
#u2142_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2143.a {
}
#u2139_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2145.a {
  position:absolute;
  left:949px;
  top:1438px;
  width:33px;
  height:29px;
}
#u2146.a {
}
#u2146_img.a {
}
#u2147.a {
}
#u2145_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2148.a {
}
#u2148_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2149.a {
}
#u2150.a {
}
#u2150_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u2151.a {
}
#u2153.a {
}
#u2153_img.a {
}
#u2154.a {
}
#u2155.a {
}
#u2155_img.a {
}
#u2156.a {
}
#u2157.a {
}
#u2157_img.a {
}
#u2158.a {
}
#u2159.a {
}
#u2159_img.a {
}
#u2160.a {
}
#u2161.a {
  position:absolute;
  left:44px;
  top:1731px;
}
#u2162.a {
}
#u2162_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:65px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u2163.a {
}
#u2161_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2164.a {
}
#u2164_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
}
#u2165.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
}
