body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u40_img {
=======
#u53_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u40 {
=======
#u53 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u41 {
=======
#u54 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u42 {
=======
#u55 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:255px;
  width:121px;
  height:119px;
  overflow:hidden;
}
<<<<<<< HEAD
#u42_state0 {
=======
#u55_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u42_state0_content {
=======
#u55_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u43 {
=======
#u56 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:391px;
  width:121px;
  height:115px;
  overflow:hidden;
}
<<<<<<< HEAD
#u43_state0 {
=======
#u56_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u43_state0_content {
=======
#u56_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u44 {
=======
#u57 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1790px;
  width:160px;
  height:90px;
  overflow:hidden;
}
<<<<<<< HEAD
#u44_state0 {
=======
#u57_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u44_state0_content {
=======
#u57_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u45 {
=======
#u58 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:200px;
  top:1790px;
  width:200px;
  height:90px;
  overflow:hidden;
}
<<<<<<< HEAD
#u45_state0 {
=======
#u58_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u45_state0_content {
=======
#u58_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u46 {
=======
#u59 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:420px;
  top:1790px;
  width:220px;
  height:90px;
  overflow:hidden;
}
<<<<<<< HEAD
#u46_state0 {
=======
#u59_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u46_state0_content {
=======
#u59_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u47 {
=======
#u60 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:650px;
  top:1790px;
  width:220px;
  height:90px;
  overflow:hidden;
}
<<<<<<< HEAD
#u47_state0 {
=======
#u60_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u47_state0_content {
=======
#u60_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u48 {
=======
#u61 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:877px;
  top:1790px;
  width:192px;
  height:90px;
  overflow:hidden;
}
<<<<<<< HEAD
#u48_state0 {
=======
#u61_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u48_state0_content {
=======
#u61_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u49 {
=======
#u62 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:960px;
  top:110px;
  width:101px;
  height:90px;
  overflow:hidden;
}
<<<<<<< HEAD
#u49_state0 {
=======
#u62_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u49_state0_content {
=======
#u62_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u50 {
=======
#u63 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:40px;
  top:80px;
  width:120px;
  height:135px;
  overflow:hidden;
}
<<<<<<< HEAD
#u50_state0 {
=======
#u63_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:135px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u50_state0_content {
=======
#u63_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u51 {
=======
#u64 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:160px;
  top:391px;
  width:680px;
  height:929px;
  overflow:hidden;
}
<<<<<<< HEAD
#u51_state0 {
=======
#u64_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:929px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u51_state0_content {
=======
#u64_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u40.a {
}
#u40_img.a {
}
#u41.a {
}
#u42.a {
=======
#u53.a {
}
#u53_img.a {
}
#u54.a {
}
#u55.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:255px;
  width:121px;
  height:119px;
}
<<<<<<< HEAD
#u42_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u43.a {
=======
#u55_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u56.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:391px;
  width:121px;
  height:115px;
}
<<<<<<< HEAD
#u43_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u44.a {
=======
#u56_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u57.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1790px;
  width:160px;
  height:90px;
}
<<<<<<< HEAD
#u44_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u45.a {
=======
#u57_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u58.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:200px;
  top:1790px;
  width:200px;
  height:90px;
}
<<<<<<< HEAD
#u45_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u46.a {
=======
#u58_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u59.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:420px;
  top:1790px;
  width:220px;
  height:90px;
}
<<<<<<< HEAD
#u46_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u47.a {
=======
#u59_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u60.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:650px;
  top:1790px;
  width:220px;
  height:90px;
}
<<<<<<< HEAD
#u47_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u48.a {
=======
#u60_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u61.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:877px;
  top:1790px;
  width:192px;
  height:90px;
}
<<<<<<< HEAD
#u48_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u49.a {
=======
#u61_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u62.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:960px;
  top:110px;
  width:101px;
  height:90px;
}
<<<<<<< HEAD
#u49_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u50.a {
=======
#u62_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u63.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:40px;
  top:80px;
  width:120px;
  height:135px;
}
<<<<<<< HEAD
#u50_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u51.a {
=======
#u63_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u64.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:160px;
  top:391px;
  width:680px;
  height:929px;
}
<<<<<<< HEAD
#u51_state0.a {
=======
#u64_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
