body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3860px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3860px;
}
#u112 {
  position:absolute;
  left:2px;
  top:1922px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:130px;
  overflow:hidden;
}
#u113_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114 {
  position:absolute;
  left:20px;
  top:210px;
  width:220px;
  height:270px;
  overflow:hidden;
}
#u114_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:270px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u114_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u111.a {
}
#u111_img.a {
}
#u112.a {
}
#u113.a {
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:130px;
}
#u113_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u114.a {
  position:absolute;
  left:20px;
  top:210px;
  width:220px;
  height:270px;
}
#u114_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
