body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
}
#u676_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u676_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3909px;
  overflow:hidden;
  touch-action:none;
}
#u677_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3909px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u677_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u680 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1676px;
}
#u681 {
  position:absolute;
  left:0px;
  top:1920px;
  width:1080px;
  height:1676px;
}
#u682 {
  position:absolute;
  left:2px;
  top:830px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683 {
  position:absolute;
  left:-20px;
  top:12px;
  width:228px;
  height:206px;
  overflow:hidden;
}
#u683_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u683_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u676.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u677.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3909px;
}
#u679.a {
}
#u679_img.a {
}
#u680.a {
}
#u681.a {
}
#u681_img.a {
}
#u682.a {
}
#u677_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u676_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u683.a {
  position:absolute;
  left:-20px;
  top:12px;
  width:228px;
  height:206px;
}
#u683_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
