body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1915px;
}
#u995 {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1915px;
}
#u996 {
  position:absolute;
  left:2px;
  top:950px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
}
#u998 {
  position:absolute;
  left:2px;
  top:77px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:814px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1000 {
  position:absolute;
  left:0px;
  top:1105px;
  width:1080px;
  height:814px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:399px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:170px;
  overflow:hidden;
}
#u1002_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1002_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u1003 {
  position:absolute;
  left:61px;
  top:48px;
  width:35px;
  height:60px;
  font-size:35px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:150px;
}
#u1005 {
  position:absolute;
  left:29px;
  top:1175px;
  width:145px;
  height:150px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:67px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:105px;
}
#u1007 {
  position:absolute;
  left:58px;
  top:1190px;
  width:87px;
  height:105px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:44px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1009 {
  position:absolute;
  left:194px;
  top:1190px;
  width:143px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u1011 {
  position:absolute;
  left:194px;
  top:1265px;
  width:361px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:325px;
}
#u1013 {
  position:absolute;
  left:48px;
  top:1380px;
  width:998px;
  height:325px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:154px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1015 {
  position:absolute;
  left:48px;
  top:1750px;
  width:998px;
  height:165px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:833px;
  top:1015px;
  width:185px;
  height:185px;
  overflow:hidden;
}
#u1017_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:179px;
  font-size:36px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:82px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1021 {
  position:absolute;
  left:41px;
  top:70px;
  width:109px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1023 {
  position:absolute;
  left:880px;
  top:5px;
  width:200px;
  height:165px;
  overflow:hidden;
}
#u1023_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:165px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1023_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u1024 {
  position:absolute;
  left:77px;
  top:47px;
  width:56px;
  height:56px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:120px;
}
#u1026 {
  position:absolute;
  left:504px;
  top:465px;
  width:77px;
  height:120px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:52px;
  width:73px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:79px;
}
#u1028 {
  position:absolute;
  left:392px;
  top:490px;
  width:53px;
  height:79px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:32px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:79px;
}
#u1030 {
  position:absolute;
  left:722px;
  top:540px;
  width:53px;
  height:79px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:32px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:79px;
}
#u1032 {
  position:absolute;
  left:741px;
  top:370px;
  width:53px;
  height:79px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:32px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1034 {
  position:absolute;
  left:484px;
  top:51px;
  width:248px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
