body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u8058 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u8059 {
  position:absolute;
  left:2px;
  top:251px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:383px;
}
#u8060 {
  position:absolute;
  left:16px;
  top:76px;
  width:223px;
  height:383px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:184px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8062 {
  position:absolute;
  left:16px;
  top:420px;
  width:223px;
  height:39px;
}
#u8063 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u8064 {
  position:absolute;
  left:36px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u8065 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u8066 {
  position:absolute;
  left:118px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u8067 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u8068 {
  position:absolute;
  left:200px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u8069 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u8070 {
  position:absolute;
  left:41px;
  top:425px;
  width:14px;
  height:13px;
}
#u8071 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8072 {
  position:absolute;
  left:122px;
  top:424px;
  width:14px;
  height:14px;
}
#u8073 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8074 {
  position:absolute;
  left:204px;
  top:424px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u8075 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8076 {
  position:absolute;
  left:16px;
  top:75px;
  width:223px;
  height:34px;
}
#u8077 {
  position:absolute;
  left:2px;
  top:9px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8079 {
  position:absolute;
  left:16px;
  top:319px;
  width:223px;
  height:140px;
}
#u8080 {
  position:absolute;
  left:2px;
  top:62px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081 {
  position:absolute;
  left:27px;
  top:86px;
}
#u8081_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8081_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u8082 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u8083 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8084 {
  position:absolute;
  left:95px;
  top:82px;
  width:92px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8085 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u8086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8087 {
  position:absolute;
  left:209px;
  top:79px;
  width:28px;
  height:25px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:105px;
}
#u8089 {
  position:absolute;
  left:75px;
  top:140px;
  width:86px;
  height:105px;
}
#u8090 {
  position:absolute;
  left:2px;
  top:44px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8091_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:39px;
}
#u8091 {
  position:absolute;
  left:78px;
  top:127px;
  width:22px;
  height:29px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:39px;
}
#u8093 {
  position:absolute;
  left:121px;
  top:122px;
  width:22px;
  height:29px;
}
#u8094 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8095_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:31px;
}
#u8095 {
  position:absolute;
  left:102px;
  top:179px;
  width:15px;
  height:21px;
}
#u8096 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8097_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:31px;
}
#u8097 {
  position:absolute;
  left:130px;
  top:207px;
  width:15px;
  height:21px;
}
#u8098 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8099_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:31px;
}
#u8099 {
  position:absolute;
  left:145px;
  top:221px;
  width:15px;
  height:21px;
}
#u8100 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8101_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:31px;
}
#u8101 {
  position:absolute;
  left:137px;
  top:221px;
  width:15px;
  height:21px;
}
#u8102 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:31px;
}
#u8103 {
  position:absolute;
  left:145px;
  top:188px;
  width:15px;
  height:21px;
}
#u8104 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8105_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:31px;
}
#u8105 {
  position:absolute;
  left:137px;
  top:164px;
  width:15px;
  height:21px;
}
#u8106 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8107 {
  position:absolute;
  left:214px;
  top:82px;
  width:16px;
  height:16px;
}
#u8108 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8110 {
  position:absolute;
  left:22px;
  top:342px;
  width:65px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8111 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8112 {
  position:absolute;
  left:71px;
  top:378px;
  width:15px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8113 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8114 {
  position:absolute;
  left:109px;
  top:326px;
  width:51px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8116 {
  position:absolute;
  left:123px;
  top:347px;
  width:23px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8117 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8118 {
  position:absolute;
  left:178px;
  top:326px;
  width:54px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8119 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u8120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8120 {
  position:absolute;
  left:181px;
  top:347px;
  width:45px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8121 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8122 {
  position:absolute;
  left:111px;
  top:378px;
  width:39px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8123 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8124 {
  position:absolute;
  left:110px;
  top:399px;
  width:45px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8125 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8126 {
  position:absolute;
  left:181px;
  top:399px;
  width:45px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u8127 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8128 {
  position:absolute;
  left:184px;
  top:378px;
  width:39px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8130 {
  position:absolute;
  left:25px;
  top:420px;
  width:9px;
  height:9px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u8132 {
  position:absolute;
  left:44px;
  top:426px;
  width:42px;
  height:30px;
}
#u8133 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u8134 {
  position:absolute;
  left:96px;
  top:430px;
  width:91px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:117px;
}
#u8137 {
  position:absolute;
  left:136px;
  top:114px;
  width:102px;
  height:107px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:46px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8139 {
  position:absolute;
  left:148px;
  top:142px;
}
#u8139_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u8140 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
#u8141 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8142 {
  position:absolute;
  left:148px;
  top:169px;
}
#u8142_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u8143 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u8144 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8145 {
  position:absolute;
  left:148px;
  top:195px;
}
#u8145_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8145_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u8146 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u8147 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
