body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  touch-action:none;
}
#u521_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u521_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u522 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3530px;
  overflow:hidden;
}
#u522_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3530px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u522_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3244px;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3244px;
}
#u524 {
  position:absolute;
  left:2px;
  top:1614px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525 {
  position:absolute;
  left:0px;
  top:41px;
  width:178px;
  height:182px;
  overflow:hidden;
}
#u525_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u525_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u526 {
  position:absolute;
  left:862px;
  top:978px;
  width:218px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u527 {
  position:absolute;
  left:968px;
  top:1620px;
  width:112px;
  height:108px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u521.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u522.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3530px;
}
#u523.a {
}
#u523_img.a {
}
#u524.a {
}
#u522_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u521_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u525.a {
  position:absolute;
  left:0px;
  top:41px;
  width:178px;
  height:182px;
}
#u525_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u526.a {
}
#u527.a {
}
