body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u819 {
  position:absolute;
  left:2px;
  top:251px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:16px;
  top:420px;
  width:223px;
  height:39px;
}
#u821 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u822 {
  position:absolute;
  left:36px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u824 {
  position:absolute;
  left:118px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u826 {
  position:absolute;
  left:200px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u828 {
  position:absolute;
  left:41px;
  top:425px;
  width:14px;
  height:13px;
}
#u829 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u830 {
  position:absolute;
  left:122px;
  top:424px;
  width:14px;
  height:14px;
}
#u831 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u832 {
  position:absolute;
  left:204px;
  top:424px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u833 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:384px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:16px;
  top:75px;
  width:223px;
  height:384px;
}
#u835 {
  position:absolute;
  left:2px;
  top:184px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:16px;
  top:108px;
  width:223px;
  height:351px;
}
#u838 {
  position:absolute;
  left:2px;
  top:168px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:350px;
}
#u839 {
  position:absolute;
  left:17px;
  top:110px;
  width:222px;
  height:350px;
}
#u840 {
  position:absolute;
  left:2px;
  top:167px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:27px;
  top:86px;
}
#u841_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u841_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u843 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u844 {
  position:absolute;
  left:95px;
  top:82px;
  width:82px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
