body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u928 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u930 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:0px;
  top:165px;
  width:1080px;
  height:940px;
  overflow:hidden;
}
#u931_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:940px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u931_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:938px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:938px;
}
#u934 {
  position:absolute;
  left:2px;
  top:461px;
  width:1109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u935 {
  position:absolute;
  left:30px;
  top:25px;
  width:150px;
  height:150px;
}
#u936 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
}
#u937 {
  position:absolute;
  left:60px;
  top:40px;
  width:90px;
  height:105px;
}
#u938 {
  position:absolute;
  left:2px;
  top:44px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u939 {
  position:absolute;
  left:200px;
  top:40px;
  width:143px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u941 {
  position:absolute;
  left:200px;
  top:115px;
  width:359px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u943 {
  position:absolute;
  left:849px;
  top:65px;
  width:230px;
  height:95px;
  font-size:40px;
}
#u944 {
  position:absolute;
  left:2px;
  top:24px;
  width:226px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:324px;
}
#u945 {
  position:absolute;
  left:50px;
  top:230px;
  width:1028px;
  height:324px;
}
#u946 {
  position:absolute;
  left:2px;
  top:154px;
  width:1024px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u947 {
  position:absolute;
  left:50px;
  top:599px;
  width:1028px;
  height:165px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:1028px;
  word-wrap:break-word;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u950 {
  position:absolute;
  left:909px;
  top:819px;
  width:60px;
  height:50px;
}
#u951 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u952 {
  position:absolute;
  left:479px;
  top:819px;
  width:60px;
  height:50px;
}
#u953 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u954 {
  position:absolute;
  left:130px;
  top:804px;
  width:41px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u956 {
  position:absolute;
  left:564px;
  top:804px;
  width:41px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u958 {
  position:absolute;
  left:988px;
  top:804px;
  width:41px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u960 {
  position:absolute;
  left:50px;
  top:804px;
  width:65px;
  height:65px;
}
#u961 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:165px;
  overflow:hidden;
}
#u962_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:165px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u962_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u963 {
  position:absolute;
  left:45px;
  top:53px;
  width:35px;
  height:60px;
}
#u964 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:0px;
  top:1140px;
  width:1080px;
  height:780px;
}
#u967 {
  position:absolute;
  left:2px;
  top:382px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:150px;
}
#u968 {
  position:absolute;
  left:29px;
  top:1164px;
  width:145px;
  height:150px;
}
#u969 {
  position:absolute;
  left:2px;
  top:67px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:105px;
}
#u970 {
  position:absolute;
  left:58px;
  top:1180px;
  width:87px;
  height:105px;
}
#u971 {
  position:absolute;
  left:2px;
  top:44px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u972 {
  position:absolute;
  left:194px;
  top:1180px;
  width:143px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u974 {
  position:absolute;
  left:194px;
  top:1255px;
  width:359px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u976 {
  position:absolute;
  left:823px;
  top:1205px;
  width:223px;
  height:95px;
  font-size:40px;
}
#u977 {
  position:absolute;
  left:2px;
  top:24px;
  width:219px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:325px;
}
#u978 {
  position:absolute;
  left:48px;
  top:1370px;
  width:998px;
  height:325px;
}
#u979 {
  position:absolute;
  left:2px;
  top:154px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u980 {
  position:absolute;
  left:48px;
  top:1739px;
  width:998px;
  height:165px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 4px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 4px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u983 {
  position:absolute;
  left:887px;
  top:109px;
  width:193px;
  height:192px;
}
#u984 {
  position:absolute;
  left:2px;
  top:88px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:958px;
  top:143px;
}
#u985_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u985_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u988 {
  position:absolute;
  left:958px;
  top:229px;
  width:73px;
  height:8px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u990 {
  position:absolute;
  left:1007px;
  top:69px;
}
#u990_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u990_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u992 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u993 {
  position:absolute;
  left:401px;
  top:50px;
  width:248px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
