body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u314 {
=======
#u1118 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  touch-action:none;
}
<<<<<<< HEAD
#u314_state0 {
=======
#u1118_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u314_state0_content {
=======
#u1118_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u315 {
=======
#u1119 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4160px;
  overflow:hidden;
}
<<<<<<< HEAD
#u315_state0 {
=======
#u1119_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u315_state0_content {
=======
#u1119_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u316_img {
=======
#u1120_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4156px;
}
<<<<<<< HEAD
#u316 {
=======
#u1120 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4156px;
}
<<<<<<< HEAD
#u317 {
=======
#u1121 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:2070px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u318 {
=======
#u1122 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u319 {
=======
#u1123 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:40px;
  top:648px;
  width:160px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u320 {
=======
#u1124 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:259px;
  top:662px;
  width:155px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u321 {
=======
#u1125 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:448px;
  top:662px;
  width:175px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u322 {
=======
#u1126 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:658px;
  top:662px;
  width:157px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u323 {
=======
#u1127 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:861px;
  top:662px;
  width:179px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
<<<<<<< HEAD
#u324 {
=======
#u1128 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:84px;
  width:120px;
  height:139px;
  overflow:hidden;
}
<<<<<<< HEAD
#u324_state0 {
=======
#u1128_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u324_state0_content {
=======
#u1128_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u325 {
=======
#u1129 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:830px;
  top:1680px;
}
<<<<<<< HEAD
#u325_state0 {
=======
#u1129_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
<<<<<<< HEAD
#u325_state0_content {
=======
#u1129_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u326 {
=======
#u1130 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u327_img {
=======
#u1131_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
<<<<<<< HEAD
#u327 {
=======
#u1131 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  opacity:0.5;
}
<<<<<<< HEAD
#u328 {
=======
#u1132 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u329_img {
=======
#u1133_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:81px;
}
<<<<<<< HEAD
#u329 {
=======
#u1133 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:39px;
  top:43px;
  width:93px;
  height:81px;
}
<<<<<<< HEAD
#u330 {
=======
#u1134 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:32px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u314.a {
=======
#u1118.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u315.a {
=======
#u1119.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4160px;
}
<<<<<<< HEAD
#u316.a {
}
#u316_img.a {
}
#u317.a {
}
#u315_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u314_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u319.a {
}
#u320.a {
}
#u321.a {
}
#u322.a {
}
#u323.a {
}
#u324.a {
=======
#u1120.a {
}
#u1120_img.a {
}
#u1121.a {
}
#u1119_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1118_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1123.a {
}
#u1124.a {
}
#u1125.a {
}
#u1126.a {
}
#u1127.a {
}
#u1128.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:84px;
  width:120px;
  height:139px;
}
<<<<<<< HEAD
#u324_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u325.a {
=======
#u1128_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1129.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:830px;
  top:1680px;
}
<<<<<<< HEAD
#u327.a {
}
#u327_img.a {
}
#u328.a {
}
#u329.a {
}
#u329_img.a {
}
#u330.a {
}
#u325_state0.a {
=======
#u1131.a {
}
#u1131_img.a {
}
#u1132.a {
}
#u1133.a {
}
#u1133_img.a {
}
#u1134.a {
}
#u1129_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
