body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4156px;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4156px;
}
#u603 {
  position:absolute;
  left:2px;
  top:2070px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604 {
  position:absolute;
  left:40px;
  top:648px;
  width:160px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u605 {
  position:absolute;
  left:259px;
  top:662px;
  width:155px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u606 {
  position:absolute;
  left:448px;
  top:662px;
  width:175px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u607 {
  position:absolute;
  left:658px;
  top:662px;
  width:157px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u608 {
  position:absolute;
  left:861px;
  top:662px;
  width:179px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u609 {
  position:absolute;
  left:0px;
  top:84px;
  width:120px;
  height:139px;
  overflow:hidden;
}
#u609_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u609_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  touch-action:none;
}
#u610_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u610_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4160px;
  overflow:hidden;
}
#u611_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u611_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4156px;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4156px;
}
#u614 {
  position:absolute;
  left:2px;
  top:2070px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615 {
  position:absolute;
  left:40px;
  top:648px;
  width:160px;
  height:160px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u616 {
  position:absolute;
  left:259px;
  top:662px;
  width:155px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u617 {
  position:absolute;
  left:448px;
  top:662px;
  width:175px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u618 {
  position:absolute;
  left:658px;
  top:662px;
  width:157px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u619 {
  position:absolute;
  left:861px;
  top:662px;
  width:179px;
  height:155px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u620 {
  position:absolute;
  left:0px;
  top:84px;
  width:120px;
  height:139px;
  overflow:hidden;
}
#u620_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u620_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u621 {
  position:absolute;
  left:830px;
  top:1680px;
}
#u621_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u621_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  opacity:0.5;
}
#u624 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:81px;
}
#u625 {
  position:absolute;
  left:39px;
  top:43px;
  width:93px;
  height:81px;
}
#u626 {
  position:absolute;
  left:2px;
  top:32px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
