body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u749_img {
=======
#u3638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3639 {
  position:absolute;
  left:196px;
  top:156px;
  width:35px;
  height:20px;
}
#u3640 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3641 {
  position:absolute;
  left:193px;
  top:156px;
  width:20px;
  height:20px;
}
#u3642 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3644 {
  position:absolute;
  left:196px;
  top:192px;
  width:35px;
  height:20px;
}
#u3645 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3646 {
  position:absolute;
  left:193px;
  top:192px;
  width:20px;
  height:20px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3649 {
  position:absolute;
  left:196px;
  top:227px;
  width:35px;
  height:20px;
}
#u3650 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3651 {
  position:absolute;
  left:193px;
  top:227px;
  width:20px;
  height:20px;
}
#u3652 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3654 {
  position:absolute;
  left:196px;
  top:262px;
  width:35px;
  height:20px;
}
#u3655 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3656 {
  position:absolute;
  left:193px;
  top:262px;
  width:20px;
  height:20px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3658 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3659_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u749 {
=======
#u3659 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u750 {
=======
#u3660 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u751 {
  position:absolute;
  left:0px;
  top:42px;
=======
#u3661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u3661 {
  position:absolute;
  left:446px;
  top:68px;
  width:285px;
  height:92px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u3662 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u3663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u3663 {
  position:absolute;
  left:33px;
  top:70px;
  width:35px;
  height:60px;
}
#u3664 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3668 {
  position:absolute;
  left:0px;
  top:187px;
  width:1080px;
  height:145px;
}
#u3669 {
  position:absolute;
  left:2px;
  top:64px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3670 {
  position:absolute;
  left:53px;
  top:239px;
  width:217px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3671 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:39px;
}
#u3672 {
  position:absolute;
  left:993px;
  top:245px;
  width:24px;
  height:39px;
}
#u3673 {
  position:absolute;
  left:2px;
  top:12px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3676 {
  position:absolute;
  left:0px;
  top:361px;
  width:1080px;
  height:145px;
}
#u3677 {
  position:absolute;
  left:2px;
  top:64px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3678 {
  position:absolute;
  left:53px;
  top:412px;
  width:217px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3679 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u3680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3682 {
  position:absolute;
  left:0px;
  top:535px;
  width:1080px;
  height:145px;
}
#u3683 {
  position:absolute;
  left:2px;
  top:64px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3684 {
  position:absolute;
  left:53px;
  top:588px;
  width:217px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3685 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u3686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  position:absolute;
  left:0px;
  top:710px;
  width:1080px;
  height:145px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:64px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3690 {
  position:absolute;
  left:53px;
  top:762px;
  width:418px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3691 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  white-space:nowrap;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  position:absolute;
  left:898px;
  top:398px;
  width:128px;
  height:73px;
}
#u3694 {
  position:absolute;
  left:2px;
  top:28px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u3695 {
  position:absolute;
  left:887px;
  top:398px;
  width:73px;
  height:73px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  position:absolute;
  left:898px;
  top:574px;
  width:128px;
  height:73px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:28px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u3700 {
  position:absolute;
  left:887px;
  top:574px;
  width:73px;
  height:73px;
}
#u3701 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3703 {
  position:absolute;
  left:898px;
  top:749px;
  width:128px;
  height:73px;
}
#u3704 {
  position:absolute;
  left:2px;
  top:28px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u3705 {
  position:absolute;
  left:887px;
  top:749px;
  width:73px;
  height:73px;
}
#u3706 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3707 {
  position:absolute;
  left:0px;
  top:0px;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  width:164px;
  height:176px;
  overflow:hidden;
}
<<<<<<< HEAD
#u751_state0 {
=======
#u3707_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:176px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u751_state0_content {
=======
#u3707_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u749.a {
}
#u749_img.a {
}
#u750.a {
}
#u751.a {
  position:absolute;
  left:0px;
  top:42px;
  width:164px;
  height:176px;
}
#u751_state0.a {
=======
#u3639.a {
}
#u3639_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3640.a {
}
#u3641.a {
}
#u3641_img.a {
}
#u3642.a {
}
#u3644.a {
}
#u3644_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3645.a {
}
#u3646.a {
}
#u3646_img.a {
}
#u3647.a {
}
#u3649.a {
}
#u3649_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3650.a {
}
#u3651.a {
}
#u3651_img.a {
}
#u3652.a {
}
#u3654.a {
}
#u3654_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3655.a {
}
#u3656.a {
}
#u3656_img.a {
}
#u3657.a {
}
#u3659.a {
}
#u3659_img.a {
}
#u3660.a {
}
#u3661.a {
}
#u3661_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u3662.a {
}
#u3663.a {
}
#u3663_img.a {
}
#u3664.a {
}
#u3668.a {
}
#u3668_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3669.a {
}
#u3670.a {
}
#u3670_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3671.a {
}
#u3672.a {
}
#u3672_img.a {
}
#u3673.a {
}
#u3676.a {
}
#u3676_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3677.a {
}
#u3678.a {
}
#u3678_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3679.a {
}
#u3682.a {
}
#u3682_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683.a {
}
#u3684.a {
}
#u3684_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3685.a {
}
#u3688.a {
}
#u3688_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3689.a {
}
#u3690.a {
}
#u3690_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u3691.a {
}
#u3693.a {
}
#u3693_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3694.a {
}
#u3695.a {
}
#u3695_img.a {
}
#u3696.a {
}
#u3698.a {
}
#u3698_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3699.a {
}
#u3700.a {
}
#u3700_img.a {
}
#u3701.a {
}
#u3703.a {
}
#u3703_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3704.a {
}
#u3705.a {
}
#u3705_img.a {
}
#u3706.a {
}
#u3707.a {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:176px;
}
#u3707_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
