body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u529 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:221px;
  overflow:hidden;
}
#u531_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:221px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u531_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:249px;
  top:585px;
  width:181px;
  height:181px;
}
#u533 {
  position:absolute;
  left:2px;
  top:82px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  position:absolute;
  left:291px;
  top:674px;
  width:97px;
  height:9px;
}
#u535 {
  position:absolute;
  left:2px;
  top:-4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u536 {
  position:absolute;
  left:335px;
  top:630px;
  width:9px;
  height:97px;
}
#u537 {
  position:absolute;
  left:2px;
  top:40px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u528.a {
}
#u528_img.a {
}
#u529.a {
}
#u531.a {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:221px;
}
#u531_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u532.a {
}
#u532_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533.a {
}
#u534.a {
}
#u534_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535.a {
}
#u536.a {
}
#u536_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537.a {
}
