body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u713 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  position:absolute;
  left:0px;
  top:10px;
  width:241px;
  height:222px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u715 {
  position:absolute;
  left:0px;
  top:388px;
  width:1080px;
  height:460px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u716 {
  position:absolute;
  left:26px;
  top:1772px;
  width:1054px;
  height:148px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u717 {
  position:absolute;
  left:640px;
  top:220px;
  width:320px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u712.a {
}
#u712_img.a {
}
#u713.a {
}
#u714.a {
}
#u715.a {
}
#u716.a {
}
#u717.a {
}
