body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2320px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2320px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2320px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2320px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1152px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
