body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u275 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
  overflow:hidden;
}
#u276_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u276_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u277 {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
  overflow:hidden;
}
#u277_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u277_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u278 {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u278_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u278_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u279 {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u279_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u279_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u280 {
  position:absolute;
  left:424px;
  top:1683px;
  width:216px;
  height:121px;
  overflow:hidden;
}
#u280_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u280_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u274.a {
}
#u274_img.a {
}
#u275.a {
}
#u276.a {
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
}
#u276_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u277.a {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
}
#u277_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u278.a {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
#u278_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u279.a {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
#u279_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u280.a {
  position:absolute;
  left:424px;
  top:1683px;
  width:216px;
  height:121px;
}
#u280_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
