body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u129_img {
=======
#u279_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u129 {
=======
#u279 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u130 {
=======
#u280 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:210px;
  overflow:hidden;
}
#u131_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:210px;
=======
#u281 {
  position:absolute;
  left:0px;
  top:53px;
  width:151px;
  height:157px;
  overflow:hidden;
}
#u281_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:157px;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u131_state0_content {
=======
#u281_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u129.a {
}
#u129_img.a {
}
#u130.a {
}
#u131.a {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:210px;
}
#u131_state0.a {
=======
#u279.a {
}
#u279_img.a {
}
#u280.a {
}
#u281.a {
  position:absolute;
  left:0px;
  top:53px;
  width:151px;
  height:157px;
}
#u281_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
