body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u5509 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u5510 {
  position:absolute;
  left:2px;
  top:251px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5511 {
  position:absolute;
  left:16px;
  top:420px;
  width:223px;
  height:39px;
}
#u5512 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u5513 {
  position:absolute;
  left:36px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u5514 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5515 {
  position:absolute;
  left:118px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5516 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5517 {
  position:absolute;
  left:200px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5518 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u5519 {
  position:absolute;
  left:41px;
  top:425px;
  width:14px;
  height:13px;
}
#u5520 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5521 {
  position:absolute;
  left:122px;
  top:424px;
  width:14px;
  height:14px;
}
#u5522 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5523 {
  position:absolute;
  left:204px;
  top:424px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u5524 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:384px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5525 {
  position:absolute;
  left:16px;
  top:75px;
  width:223px;
  height:384px;
}
#u5526 {
  position:absolute;
  left:2px;
  top:184px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5528 {
  position:absolute;
  left:16px;
  top:108px;
  width:223px;
  height:351px;
}
#u5529 {
  position:absolute;
  left:2px;
  top:168px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:350px;
}
#u5530 {
  position:absolute;
  left:17px;
  top:110px;
  width:222px;
  height:350px;
}
#u5531 {
  position:absolute;
  left:2px;
  top:167px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5532 {
  position:absolute;
  left:27px;
  top:86px;
}
#u5532_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5532_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5533 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5534 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5535 {
  position:absolute;
  left:95px;
  top:82px;
  width:82px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5536 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
