body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u280 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:0px;
  top:53px;
  width:151px;
  height:157px;
  overflow:hidden;
}
#u281_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u281_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u279.a {
}
#u279_img.a {
}
#u280.a {
}
#u281.a {
  position:absolute;
  left:0px;
  top:53px;
  width:151px;
  height:157px;
}
#u281_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
