body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u641 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642 {
  position:absolute;
  left:0px;
  top:28px;
  width:210px;
  height:181px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u643 {
  position:absolute;
  left:0px;
  top:245px;
  width:1080px;
  height:149px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u640.a {
}
#u640_img.a {
}
#u641.a {
}
#u642.a {
}
#u643.a {
}
