body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u291 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
  overflow:hidden;
}
#u292_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u292_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u293 {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
  overflow:hidden;
}
#u293_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u294 {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u294_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u294_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u295 {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u295_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u296 {
  position:absolute;
  left:940px;
  top:1683px;
  width:118px;
  height:121px;
  overflow:hidden;
}
#u296_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u296_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u290.a {
}
#u290_img.a {
}
#u291.a {
}
#u292.a {
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
}
#u292_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u293.a {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
}
#u293_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u294.a {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
#u294_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u295.a {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
#u295_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u296.a {
  position:absolute;
  left:940px;
  top:1683px;
  width:118px;
  height:121px;
}
#u296_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
