body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3432px;
}
#u372 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3432px;
}
#u373 {
  position:absolute;
  left:2px;
  top:1708px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374 {
  position:absolute;
  left:0px;
  top:50px;
  width:144px;
  height:174px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u372.a {
}
#u372_img.a {
}
#u373.a {
}
#u374.a {
}
