body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1915px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1915px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:950px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:77px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1237 {
  position:absolute;
  left:0px;
  top:1055px;
  width:1080px;
  height:865px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:424px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:170px;
  overflow:hidden;
}
#u1239_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1239_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u1240 {
  position:absolute;
  left:45px;
  top:48px;
  width:35px;
  height:60px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:525px;
}
#u1243 {
  position:absolute;
  left:286px;
  top:325px;
  width:417px;
  height:525px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:254px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:117px;
  height:155px;
}
#u1245 {
  position:absolute;
  left:300px;
  top:260px;
  width:107px;
  height:145px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:117px;
  height:155px;
}
#u1247 {
  position:absolute;
  left:509px;
  top:235px;
  width:107px;
  height:145px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:83px;
  height:115px;
}
#u1249 {
  position:absolute;
  left:417px;
  top:520px;
  width:73px;
  height:105px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:83px;
  height:115px;
}
#u1251 {
  position:absolute;
  left:552px;
  top:660px;
  width:73px;
  height:105px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:83px;
  height:115px;
}
#u1253 {
  position:absolute;
  left:625px;
  top:730px;
  width:73px;
  height:105px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:83px;
  height:115px;
}
#u1255 {
  position:absolute;
  left:586px;
  top:730px;
  width:73px;
  height:105px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:83px;
  height:115px;
}
#u1257 {
  position:absolute;
  left:625px;
  top:565px;
  width:73px;
  height:105px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:83px;
  height:115px;
}
#u1259 {
  position:absolute;
  left:586px;
  top:445px;
  width:73px;
  height:105px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:29px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u1261 {
  position:absolute;
  left:120px;
  top:1275px;
  width:134px;
  height:69px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u1263 {
  position:absolute;
  left:169px;
  top:1354px;
  width:37px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1265 {
  position:absolute;
  left:444px;
  top:1170px;
  width:145px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1267 {
  position:absolute;
  left:512px;
  top:1275px;
  width:73px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1269 {
  position:absolute;
  left:779px;
  top:1170px;
  width:165px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1271 {
  position:absolute;
  left:793px;
  top:1275px;
  width:145px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1273 {
  position:absolute;
  left:454px;
  top:1430px;
  width:113px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1275 {
  position:absolute;
  left:449px;
  top:1535px;
  width:145px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1277 {
  position:absolute;
  left:793px;
  top:1535px;
  width:145px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1279 {
  position:absolute;
  left:808px;
  top:1430px;
  width:113px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:160px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:64px;
  top:1668px;
  width:5px;
  height:160px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u1283 {
  position:absolute;
  left:45px;
  top:1638px;
  width:44px;
  height:45px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:150px;
}
#u1285 {
  position:absolute;
  left:137px;
  top:1673px;
  width:203px;
  height:150px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:67px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1287 {
  position:absolute;
  left:444px;
  top:1668px;
  width:289px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1289 {
  position:absolute;
  left:444px;
  top:1753px;
  width:217px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1291 {
  position:absolute;
  left:39px;
  top:1100px;
  width:446px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293 {
  position:absolute;
  left:818px;
  top:950px;
}
#u1293_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1296 {
  position:absolute;
  left:18px;
  top:54px;
  width:121px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1298 {
  position:absolute;
  left:959px;
  top:50px;
  width:40px;
  height:40px;
  overflow:hidden;
}
#u1298_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1298_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
}
#u1301 {
  position:absolute;
  left:444px;
  top:50px;
  width:232px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u1232.a {
}
#u1232_img.a {
}
#u1233.a {
}
#u1234.a {
}
#u1234_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235.a {
}
#u1237.a {
}
#u1237_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1238.a {
}
#u1239.a {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:170px;
}
#u1240.a {
}
#u1240_img.a {
}
#u1241.a {
}
#u1239_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1243.a {
}
#u1243_img.a {
}
#u1244.a {
}
#u1245.a {
}
#u1245_img.a {
}
#u1246.a {
}
#u1247.a {
}
#u1247_img.a {
}
#u1248.a {
}
#u1249.a {
}
#u1249_img.a {
}
#u1250.a {
}
#u1251.a {
}
#u1251_img.a {
}
#u1252.a {
}
#u1253.a {
}
#u1253_img.a {
}
#u1254.a {
}
#u1255.a {
}
#u1255_img.a {
}
#u1256.a {
}
#u1257.a {
}
#u1257_img.a {
}
#u1258.a {
}
#u1259.a {
}
#u1259_img.a {
}
#u1260.a {
}
#u1261.a {
  width:133px;
}
#u1261_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
}
#u1262.a {
}
#u1263.a {
  height:46px;
}
#u1263_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u1264.a {
}
#u1265.a {
  width:147px;
}
#u1265_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1266.a {
}
#u1267.a {
  height:42px;
}
#u1267_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1268.a {
}
#u1269.a {
}
#u1269_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1270.a {
}
#u1271.a {
  height:42px;
}
#u1271_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1272.a {
}
#u1273.a {
  width:114px;
}
#u1273_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1274.a {
}
#u1275.a {
  height:42px;
}
#u1275_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1276.a {
}
#u1277.a {
  height:42px;
}
#u1277_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1278.a {
}
#u1279.a {
  width:114px;
}
#u1279_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1280.a {
}
#u1281.a {
}
#u1281_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:160px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1282.a {
}
#u1283.a {
}
#u1283_img.a {
}
#u1284.a {
}
#u1285.a {
}
#u1285_img.a {
}
#u1286.a {
}
#u1287.a {
  width:297px;
  height:42px;
}
#u1287_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1288.a {
}
#u1289.a {
  height:42px;
}
#u1289_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1290.a {
}
#u1291.a {
}
#u1291_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1292.a {
}
#u1293.a {
  position:absolute;
  left:818px;
  top:950px;
}
#u1294.a {
}
#u1294_img.a {
}
#u1295.a {
}
#u1296.a {
}
#u1296_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1297.a {
}
#u1293_state0.a {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1298.a {
  position:absolute;
  left:959px;
  top:50px;
  width:40px;
  height:40px;
}
#u1299.a {
}
#u1299_img.a {
}
#u1300.a {
}
#u1298_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1301.a {
}
#u1301_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:48px;
}
#u1302.a {
}
