body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3615px;
}
#u573 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3615px;
}
#u574 {
  position:absolute;
  left:2px;
  top:1800px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575 {
  position:absolute;
  left:0px;
  top:74px;
  width:136px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u576 {
  position:absolute;
  left:0px;
  top:360px;
  width:1048px;
  height:504px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1809px;
}
#u577 {
  position:absolute;
  left:524px;
  top:972px;
  width:1px;
  height:1808px;
}
#u578 {
  position:absolute;
  left:2px;
  top:896px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u573.a {
}
#u573_img.a {
}
#u574.a {
}
#u575.a {
}
#u576.a {
}
#u577.a {
}
#u577_img.a {
}
#u578.a {
}
