body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u615 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616 {
  position:absolute;
  left:0px;
  top:76px;
  width:124px;
  height:142px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u617 {
  position:absolute;
  left:721px;
  top:274px;
  width:318px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u618 {
  position:absolute;
  left:722px;
  top:382px;
  width:318px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u619 {
  position:absolute;
  left:722px;
  top:495px;
  width:318px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u614.a {
}
#u614_img.a {
}
#u615.a {
}
#u616.a {
}
#u617.a {
}
#u618.a {
}
#u619.a {
}
