body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u178_img {
=======
#u314_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u178 {
=======
#u314 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u179 {
=======
#u315 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u180 {
  position:absolute;
  left:24px;
  top:97px;
=======
#u316 {
  position:absolute;
  left:24px;
  top:94px;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  width:100px;
  height:120px;
  overflow:hidden;
}
<<<<<<< HEAD
#u180_state0 {
=======
#u316_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u180_state0_content {
=======
#u316_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u181 {
=======
#u317 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
  overflow:hidden;
}
<<<<<<< HEAD
#u181_state0 {
=======
#u317_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u181_state0_content {
=======
#u317_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u182 {
=======
#u318 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
<<<<<<< HEAD
#u182_state0 {
=======
#u318_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u182_state0_content {
=======
#u318_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u183 {
=======
#u319 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
<<<<<<< HEAD
#u183_state0 {
=======
#u319_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u183_state0_content {
=======
#u319_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u184 {
  position:absolute;
  left:394px;
  top:657px;
=======
#u320 {
  position:absolute;
  left:400px;
  top:630px;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  width:139px;
  height:146px;
  overflow:hidden;
}
<<<<<<< HEAD
#u184_state0 {
=======
#u320_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:146px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u184_state0_content {
=======
#u320_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u185 {
  position:absolute;
  left:560px;
  top:657px;
=======
#u321 {
  position:absolute;
  left:560px;
  top:630px;
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  width:139px;
  height:146px;
  overflow:hidden;
}
<<<<<<< HEAD
#u185_state0 {
=======
#u321_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:146px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u185_state0_content {
=======
#u321_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u178.a {
}
#u178_img.a {
}
#u179.a {
}
#u180.a {
  position:absolute;
  left:24px;
  top:97px;
  width:100px;
  height:120px;
}
#u180_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u181.a {
=======
#u314.a {
}
#u314_img.a {
}
#u315.a {
}
#u316.a {
  position:absolute;
  left:24px;
  top:94px;
  width:100px;
  height:120px;
}
#u316_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u317.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
}
<<<<<<< HEAD
#u181_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u182.a {
=======
#u317_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u318.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
<<<<<<< HEAD
#u182_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u183.a {
=======
#u318_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u319.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
<<<<<<< HEAD
#u183_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u184.a {
  position:absolute;
  left:394px;
  top:657px;
  width:139px;
  height:146px;
}
#u184_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u185.a {
  position:absolute;
  left:560px;
  top:657px;
  width:139px;
  height:146px;
}
#u185_state0.a {
=======
#u319_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u320.a {
  position:absolute;
  left:400px;
  top:630px;
  width:139px;
  height:146px;
}
#u320_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u321.a {
  position:absolute;
  left:560px;
  top:630px;
  width:139px;
  height:146px;
}
#u321_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
