body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3432px;
}
#u570 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:3432px;
}
#u571 {
  position:absolute;
  left:2px;
  top:1708px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572 {
  position:absolute;
  left:0px;
  top:50px;
  width:144px;
  height:174px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u570.a {
}
#u570_img.a {
}
#u571.a {
}
#u572.a {
}
