body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
}
#u605_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u605_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
  overflow:hidden;
  touch-action:none;
}
#u606_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u606_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:3108px;
}
#u608 {
  position:absolute;
  left:0px;
  top:1923px;
  width:1079px;
  height:3108px;
}
#u609 {
  position:absolute;
  left:2px;
  top:1546px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u610 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u611 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:212px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u613 {
  position:absolute;
  left:864px;
  top:55px;
  width:216px;
  height:157px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u605.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u606.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
}
#u608.a {
}
#u608_img.a {
}
#u609.a {
}
#u610.a {
}
#u610_img.a {
}
#u611.a {
}
#u606_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u605_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u612.a {
}
#u613.a {
}
