body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u5474 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u5475 {
  position:absolute;
  left:2px;
  top:251px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5476 {
  position:absolute;
  left:16px;
  top:420px;
  width:223px;
  height:39px;
}
#u5477 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u5478 {
  position:absolute;
  left:36px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u5479 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5480 {
  position:absolute;
  left:118px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5481 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5482 {
  position:absolute;
  left:200px;
  top:439px;
  width:23px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u5483 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u5484 {
  position:absolute;
  left:41px;
  top:425px;
  width:14px;
  height:13px;
}
#u5485 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5486 {
  position:absolute;
  left:122px;
  top:424px;
  width:14px;
  height:14px;
}
#u5487 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5488 {
  position:absolute;
  left:204px;
  top:424px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u5489 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:384px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5490 {
  position:absolute;
  left:16px;
  top:75px;
  width:223px;
  height:384px;
}
#u5491 {
  position:absolute;
  left:2px;
  top:184px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5492 {
  position:absolute;
  left:27px;
  top:86px;
}
#u5492_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5492_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5493 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u5494 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5495 {
  position:absolute;
  left:95px;
  top:82px;
  width:82px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5496 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:351px;
  background:inherit;
  background-color:rgba(77, 77, 76, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5498 {
  position:absolute;
  left:16px;
  top:108px;
  width:223px;
  height:351px;
}
#u5499 {
  position:absolute;
  left:2px;
  top:168px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:151px;
}
#u5500 {
  position:absolute;
  left:53px;
  top:110px;
  width:149px;
  height:151px;
}
#u5501 {
  position:absolute;
  left:2px;
  top:68px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:194px;
}
#u5502 {
  position:absolute;
  left:55px;
  top:259px;
  width:145px;
  height:194px;
}
#u5503 {
  position:absolute;
  left:2px;
  top:89px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
