body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u146 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
  overflow:hidden;
}
#u147_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u147_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148 {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
  overflow:hidden;
}
#u148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u149 {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u149_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u149_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u150 {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u150_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u150_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u151 {
  position:absolute;
  left:149px;
  top:404px;
  width:748px;
  height:1223px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u145.a {
}
#u145_img.a {
}
#u146.a {
}
#u147.a {
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
}
#u147_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u148.a {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
}
#u148_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u149.a {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
#u149_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u150.a {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
#u150_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u151.a {
}
