body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u2909 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2910 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u2911 {
  position:absolute;
  left:33px;
  top:70px;
  width:35px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2912 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2913 {
  position:absolute;
  left:416px;
  top:68px;
  width:360px;
  height:92px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1735px;
}
#u2916 {
  position:absolute;
  left:0px;
  top:185px;
  width:1080px;
  height:1735px;
}
#u2917 {
  position:absolute;
  left:2px;
  top:860px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u2920 {
  position:absolute;
  left:400px;
  top:1737px;
  width:103px;
  height:103px;
}
#u2921 {
  position:absolute;
  left:2px;
  top:44px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u2922 {
  position:absolute;
  left:427px;
  top:1767px;
  width:45px;
  height:41px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:613px;
}
#u2924 {
  position:absolute;
  left:237px;
  top:627px;
  width:613px;
  height:613px;
  opacity:0.8;
}
#u2925 {
  position:absolute;
  left:2px;
  top:298px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u2928 {
  position:absolute;
  left:600px;
  top:1737px;
  width:103px;
  height:103px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:44px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:44px;
}
#u2930 {
  position:absolute;
  left:948px;
  top:71px;
  width:89px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:44px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2932 {
  position:absolute;
  left:900px;
  top:29px;
  width:180px;
  height:131px;
  overflow:hidden;
}
#u2932_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:131px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2932_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:170px;
  overflow:hidden;
}
#u2933_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2933_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
