body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  touch-action:none;
}
#u453_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u453_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u454 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4148px;
  overflow:hidden;
}
#u454_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4148px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u454_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u457 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2147px;
}
#u458 {
  position:absolute;
  left:0px;
  top:1920px;
  width:1080px;
  height:2147px;
}
#u459 {
  position:absolute;
  left:2px;
  top:1066px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:220px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u453.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u454.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:4148px;
}
#u456.a {
}
#u456_img.a {
}
#u457.a {
}
#u458.a {
}
#u458_img.a {
}
#u459.a {
}
#u454_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u453_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u460.a {
}
