body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u364 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365 {
  position:absolute;
  left:27px;
  top:85px;
  width:97px;
  height:124px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u366 {
  position:absolute;
  left:0px;
  top:882px;
  width:1080px;
  height:1018px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u363.a {
}
#u363_img.a {
}
#u364.a {
}
#u365.a {
}
#u366.a {
}
