body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u383 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  position:absolute;
  left:0px;
  top:27px;
  width:199px;
  height:191px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u385 {
  position:absolute;
  left:940px;
  top:86px;
  width:140px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u382.a {
}
#u382_img.a {
}
#u383.a {
}
#u384.a {
}
#u385.a {
}
