body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u633 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634 {
  position:absolute;
  left:0px;
  top:27px;
  width:199px;
  height:191px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u635 {
  position:absolute;
  left:940px;
  top:86px;
  width:140px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u632.a {
}
#u632_img.a {
}
#u633.a {
}
#u634.a {
}
#u635.a {
}
