body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
}
#u646_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u646_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5479px;
  overflow:hidden;
  touch-action:none;
}
#u647_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5479px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u647_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u649 {
  position:absolute;
  left:-2px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u650 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1685px;
}
#u651 {
  position:absolute;
  left:0px;
  top:2155px;
  width:1080px;
  height:1685px;
}
#u652 {
  position:absolute;
  left:2px;
  top:834px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  position:absolute;
  left:0px;
  top:33px;
  width:188px;
  height:191px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u646.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u647.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5479px;
}
#u649.a {
}
#u649_img.a {
}
#u650.a {
}
#u651.a {
}
#u651_img.a {
}
#u652.a {
}
#u647_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u646_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u653.a {
}
