body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u404 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405 {
  position:absolute;
  left:18px;
  top:85px;
  width:109px;
  height:133px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u406 {
  position:absolute;
  left:0px;
  top:873px;
  width:1080px;
  height:285px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u403.a {
}
#u403_img.a {
}
#u404.a {
}
#u405.a {
}
#u406.a {
}
