body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u62 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:64px;
  width:185px;
  height:146px;
  overflow:hidden;
}
#u63_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:146px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:900px;
  top:91px;
  width:180px;
  height:119px;
  overflow:hidden;
}
#u64_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u61.a {
}
#u61_img.a {
}
#u62.a {
}
#u63.a {
  position:absolute;
  left:0px;
  top:64px;
  width:185px;
  height:146px;
}
#u63_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u64.a {
  position:absolute;
  left:900px;
  top:91px;
  width:180px;
  height:119px;
}
#u64_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
