body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u281_img {
=======
#u552_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u281 {
=======
#u552 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u282 {
=======
#u553 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u283 {
=======
#u554 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
  overflow:hidden;
}
<<<<<<< HEAD
#u283_state0 {
=======
#u554_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u283_state0_content {
=======
#u554_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u284 {
=======
#u555 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
  overflow:hidden;
}
<<<<<<< HEAD
#u284_state0 {
=======
#u555_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u284_state0_content {
=======
#u555_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u285 {
=======
#u556 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
<<<<<<< HEAD
#u285_state0 {
=======
#u556_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u285_state0_content {
=======
#u556_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u286 {
=======
#u557 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
<<<<<<< HEAD
#u286_state0 {
=======
#u557_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u286_state0_content {
=======
#u557_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u287 {
=======
#u558 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1760px;
  width:1080px;
  height:160px;
  overflow:hidden;
}
<<<<<<< HEAD
#u287_state0 {
=======
#u558_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u287_state0_content {
=======
#u558_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u281.a {
}
#u281_img.a {
}
#u282.a {
}
#u283.a {
=======
#u552.a {
}
#u552_img.a {
}
#u553.a {
}
#u554.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:24px;
  top:96px;
  width:100px;
  height:120px;
}
<<<<<<< HEAD
#u283_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u284.a {
=======
#u554_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u555.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
}
<<<<<<< HEAD
#u284_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u285.a {
=======
#u555_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u556.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
<<<<<<< HEAD
#u285_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u286.a {
=======
#u556_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u557.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
<<<<<<< HEAD
#u286_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u287.a {
=======
#u557_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u558.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1760px;
  width:1080px;
  height:160px;
}
<<<<<<< HEAD
#u287_state0.a {
=======
#u558_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
