body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u462 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u463 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464 {
  position:absolute;
  left:0px;
  top:64px;
  width:200px;
  height:153px;
  overflow:hidden;
}
#u464_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:153px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u464_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u465 {
  position:absolute;
  left:880px;
  top:80px;
  width:200px;
  height:137px;
  overflow:hidden;
}
#u465_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:137px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u465_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u466 {
  position:absolute;
  left:780px;
  top:640px;
  width:300px;
  height:139px;
  overflow:hidden;
}
#u466_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:139px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u466_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
