body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u743 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:217px;
  overflow:hidden;
}
#u744_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:217px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u744_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u742.a {
}
#u742_img.a {
}
#u743.a {
}
#u744.a {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:217px;
}
#u744_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
