body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u685 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686 {
  position:absolute;
  left:0px;
  top:85px;
  width:136px;
  height:147px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u687 {
  position:absolute;
  left:0px;
  top:380px;
  width:1080px;
  height:408px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u684.a {
}
#u684_img.a {
}
#u685.a {
}
#u686.a {
}
#u687.a {
}
