body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u637 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638 {
  position:absolute;
  left:0px;
  top:22px;
  width:220px;
  height:198px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u639 {
  position:absolute;
  left:936px;
  top:79px;
  width:144px;
  height:141px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u636.a {
}
#u636_img.a {
}
#u637.a {
}
#u638.a {
}
#u639.a {
}
