body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u566_img {
=======
#u2166_img {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u566 {
=======
#u2166 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
<<<<<<< HEAD
#u567 {
=======
#u2167 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u568 {
=======
#u2168 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:40px;
  width:160px;
  height:170px;
  overflow:hidden;
}
<<<<<<< HEAD
#u568_state0 {
=======
#u2168_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u568_state0_content {
=======
#u2168_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u569 {
=======
#u2169 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:818px;
  top:80px;
  width:124px;
  height:150px;
  overflow:hidden;
}
<<<<<<< HEAD
#u569_state0 {
=======
#u2169_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u569_state0_content {
=======
#u2169_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u570 {
=======
#u2170 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:952px;
  top:80px;
  width:128px;
  height:150px;
  overflow:hidden;
}
<<<<<<< HEAD
#u570_state0 {
=======
#u2170_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u570_state0_content {
=======
#u2170_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u571 {
=======
#u2171 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:80px;
  top:240px;
  width:220px;
  height:221px;
  overflow:hidden;
}
<<<<<<< HEAD
#u571_state0 {
=======
#u2171_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:221px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u571_state0_content {
=======
#u2171_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u572 {
=======
#u2172 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:60px;
  top:510px;
  width:204px;
  height:190px;
  overflow:hidden;
}
<<<<<<< HEAD
#u572_state0 {
=======
#u2172_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u572_state0_content {
=======
#u2172_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u573 {
=======
#u2173 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:440px;
  top:510px;
  width:221px;
  height:190px;
  overflow:hidden;
}
<<<<<<< HEAD
#u573_state0 {
=======
#u2173_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u573_state0_content {
=======
#u2173_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u574 {
=======
#u2174 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:818px;
  top:510px;
  width:222px;
  height:190px;
  overflow:hidden;
}
<<<<<<< HEAD
#u574_state0 {
=======
#u2174_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u574_state0_content {
=======
#u2174_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u575 {
=======
#u2175 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:60px;
  top:920px;
  width:204px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u575_state0 {
=======
#u2175_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u575_state0_content {
=======
#u2175_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u576 {
=======
#u2176 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:339px;
  top:920px;
  width:221px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u576_state0 {
=======
#u2176_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u576_state0_content {
=======
#u2176_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u577 {
=======
#u2177 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:600px;
  top:920px;
  width:221px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u577_state0 {
=======
#u2177_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u577_state0_content {
=======
#u2177_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u578 {
=======
#u2178 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:841px;
  top:930px;
  width:199px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u578_state0 {
=======
#u2178_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u578_state0_content {
=======
#u2178_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u579 {
=======
#u2179 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:60px;
  top:1174px;
  width:204px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u579_state0 {
=======
#u2179_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u579_state0_content {
=======
#u2179_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u580 {
=======
#u2180 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:339px;
  top:1174px;
  width:221px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u580_state0 {
=======
#u2180_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u580_state0_content {
=======
#u2180_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u581 {
=======
#u2181 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:600px;
  top:1174px;
  width:221px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u581_state0 {
=======
#u2181_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u581_state0_content {
=======
#u2181_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u582 {
=======
#u2182 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:841px;
  top:1175px;
  width:199px;
  height:200px;
  overflow:hidden;
}
<<<<<<< HEAD
#u582_state0 {
=======
#u2182_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u582_state0_content {
=======
#u2182_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u583 {
=======
#u2183 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1440px;
  width:1080px;
  height:136px;
  overflow:hidden;
}
<<<<<<< HEAD
#u583_state0 {
=======
#u2183_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u583_state0_content {
=======
#u2183_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u584 {
=======
#u2184 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1586px;
  width:1080px;
  height:134px;
  overflow:hidden;
}
<<<<<<< HEAD
#u584_state0 {
=======
#u2184_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:134px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u584_state0_content {
=======
#u2184_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
<<<<<<< HEAD
#u585 {
=======
#u2185 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1730px;
  width:1080px;
  height:150px;
  overflow:hidden;
}
<<<<<<< HEAD
#u585_state0 {
=======
#u2185_state0 {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
<<<<<<< HEAD
#u585_state0_content {
=======
#u2185_state0_content {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
<<<<<<< HEAD
#u566.a {
}
#u566_img.a {
}
#u567.a {
}
#u568.a {
=======
#u2166.a {
}
#u2166_img.a {
}
#u2167.a {
}
#u2168.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:40px;
  width:160px;
  height:170px;
}
<<<<<<< HEAD
#u568_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u569.a {
=======
#u2168_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2169.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:818px;
  top:80px;
  width:124px;
  height:150px;
}
<<<<<<< HEAD
#u569_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u570.a {
=======
#u2169_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2170.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:952px;
  top:80px;
  width:128px;
  height:150px;
}
<<<<<<< HEAD
#u570_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u571.a {
=======
#u2170_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2171.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:80px;
  top:240px;
  width:220px;
  height:221px;
}
<<<<<<< HEAD
#u571_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u572.a {
=======
#u2171_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2172.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:60px;
  top:510px;
  width:204px;
  height:190px;
}
<<<<<<< HEAD
#u572_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u573.a {
=======
#u2172_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2173.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:440px;
  top:510px;
  width:221px;
  height:190px;
}
<<<<<<< HEAD
#u573_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u574.a {
=======
#u2173_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2174.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:818px;
  top:510px;
  width:222px;
  height:190px;
}
<<<<<<< HEAD
#u574_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u575.a {
=======
#u2174_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2175.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:60px;
  top:920px;
  width:204px;
  height:200px;
}
<<<<<<< HEAD
#u575_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u576.a {
=======
#u2175_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2176.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:339px;
  top:920px;
  width:221px;
  height:200px;
}
<<<<<<< HEAD
#u576_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u577.a {
=======
#u2176_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2177.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:600px;
  top:920px;
  width:221px;
  height:200px;
}
<<<<<<< HEAD
#u577_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u578.a {
=======
#u2177_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2178.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:841px;
  top:930px;
  width:199px;
  height:200px;
}
<<<<<<< HEAD
#u578_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u579.a {
=======
#u2178_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2179.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:60px;
  top:1174px;
  width:204px;
  height:200px;
}
<<<<<<< HEAD
#u579_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u580.a {
=======
#u2179_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2180.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:339px;
  top:1174px;
  width:221px;
  height:200px;
}
<<<<<<< HEAD
#u580_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u581.a {
=======
#u2180_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2181.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:600px;
  top:1174px;
  width:221px;
  height:200px;
}
<<<<<<< HEAD
#u581_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u582.a {
=======
#u2181_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2182.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:841px;
  top:1175px;
  width:199px;
  height:200px;
}
<<<<<<< HEAD
#u582_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u583.a {
=======
#u2182_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2183.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1440px;
  width:1080px;
  height:136px;
}
<<<<<<< HEAD
#u583_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u584.a {
=======
#u2183_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2184.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1586px;
  width:1080px;
  height:134px;
}
<<<<<<< HEAD
#u584_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u585.a {
=======
#u2184_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2185.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  position:absolute;
  left:0px;
  top:1730px;
  width:1080px;
  height:150px;
}
<<<<<<< HEAD
#u585_state0.a {
=======
#u2185_state0.a {
>>>>>>> 9db295b0189a4fe609d31da7c176da3f6cbc89d2
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
