body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u4 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:30px;
  top:225px;
  width:1017px;
  height:146px;
}
#u7 {
  position:absolute;
  left:2px;
  top:65px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:30px;
  top:414px;
  width:1017px;
  height:146px;
}
#u9 {
  position:absolute;
  left:2px;
  top:65px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:93px;
  top:240px;
  width:876px;
  height:122px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:122px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:93px;
  top:429px;
  width:885px;
  height:122px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:122px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:30px;
  top:599px;
  width:579px;
  height:146px;
}
#u13 {
  position:absolute;
  left:2px;
  top:65px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:93px;
  top:614px;
  width:516px;
  height:122px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:122px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:146px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u15 {
  position:absolute;
  left:658px;
  top:599px;
  width:389px;
  height:146px;
  font-size:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:45px;
  width:385px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:146px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u17 {
  position:absolute;
  left:30px;
  top:852px;
  width:1017px;
  height:146px;
  font-size:48px;
}
#u18 {
  position:absolute;
  left:2px;
  top:40px;
  width:1013px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u19 {
  position:absolute;
  left:480px;
  top:70px;
  width:97px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:60px;
}
#u21 {
  position:absolute;
  left:33px;
  top:70px;
  width:35px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u3.a {
}
#u3_img.a {
}
#u4.a {
}
#u6.a {
}
#u6_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7.a {
}
#u8.a {
}
#u8_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9.a {
}
#u10.a {
  position:absolute;
  left:93px;
  top:240px;
  width:876px;
  height:122px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:122px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11.a {
  position:absolute;
  left:93px;
  top:429px;
  width:885px;
  height:122px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:122px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12.a {
}
#u12_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13.a {
}
#u14.a {
  position:absolute;
  left:93px;
  top:614px;
  width:516px;
  height:122px;
}
#u14_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:122px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15.a {
}
#u15_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:146px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u16.a {
}
#u17.a {
}
#u17_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:146px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u18.a {
}
#u19.a {
  height:67px;
}
#u19_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u20.a {
}
#u21.a {
}
#u21_img.a {
}
#u22.a {
}
