body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:255px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:518px;
}
#u40 {
  position:absolute;
  left:2px;
  top:251px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:395px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:16px;
  top:64px;
  width:223px;
  height:395px;
}
#u42 {
  position:absolute;
  left:2px;
  top:190px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:23px;
  top:115px;
  width:209px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:23px;
  top:154px;
  width:209px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:36px;
  top:118px;
  width:180px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  position:absolute;
  left:36px;
  top:157px;
  width:182px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:23px;
  top:192px;
  width:119px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:36px;
  top:195px;
  width:106px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:152px;
  top:192px;
  width:80px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:23px;
  top:244px;
  width:209px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:205px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u57 {
  position:absolute;
  left:55px;
  top:82px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:27px;
  top:84px;
}
#u59_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
