body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u1 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:1085px;
  width:920px;
  height:140px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:112px;
  top:552px;
  width:688px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:540px;
  top:1790px;
  width:220px;
  height:130px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:171px;
}
#u6 {
  position:absolute;
  left:455px;
  top:84px;
  width:171px;
  height:171px;
}
#u7 {
  position:absolute;
  left:2px;
  top:78px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u0_img.a {
}
#u1.a {
}
#u2.a {
  position:absolute;
  left:80px;
  top:1085px;
  width:920px;
  height:140px;
}
#u2_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u3.a {
}
#u3_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4.a {
}
#u5.a {
  position:absolute;
  left:540px;
  top:1790px;
  width:220px;
  height:130px;
}
#u5_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
