body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
}
#u365 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
}
#u366 {
  position:absolute;
  left:2px;
  top:2621px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367 {
  position:absolute;
  left:0px;
  top:50px;
  width:140px;
  height:168px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2803px;
}
#u368 {
  position:absolute;
  left:540px;
  top:540px;
  width:1px;
  height:2802px;
}
#u369 {
  position:absolute;
  left:2px;
  top:1393px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u365.a {
}
#u365_img.a {
}
#u366.a {
}
#u367.a {
}
#u368.a {
}
#u368_img.a {
}
#u369.a {
}
