body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:5258px;
}
#u367 {
  position:absolute;
  left:2px;
  top:2621px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368 {
  position:absolute;
  left:0px;
  top:19px;
  width:192px;
  height:199px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u366.a {
}
#u366_img.a {
}
#u367.a {
}
#u368.a {
}
