body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u208 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u210 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u211 {
  position:absolute;
  left:21px;
  top:776px;
  width:203px;
  height:200px;
}
#u212 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u213 {
  position:absolute;
  left:21px;
  top:1155px;
  width:203px;
  height:200px;
}
#u214 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u215 {
  position:absolute;
  left:21px;
  top:1520px;
  width:203px;
  height:200px;
}
#u216 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:23px;
}
#u217 {
  position:absolute;
  left:21px;
  top:1897px;
  width:203px;
  height:23px;
}
#u218 {
  position:absolute;
  left:2px;
  top:4px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:40px;
  top:110px;
  width:80px;
  height:90px;
  overflow:hidden;
}
#u219_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u219_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u220 {
  position:absolute;
  left:960px;
  top:110px;
  width:80px;
  height:90px;
  overflow:hidden;
}
#u220_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u220_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u221 {
  position:absolute;
  left:0px;
  top:750px;
  width:1080px;
  height:370px;
  overflow:hidden;
}
#u221_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u221_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u207.a {
}
#u207_img.a {
}
#u208.a {
}
#u209.a {
}
#u209_img.a {
}
#u210.a {
}
#u211.a {
}
#u211_img.a {
}
#u212.a {
}
#u213.a {
}
#u213_img.a {
}
#u214.a {
}
#u215.a {
}
#u215_img.a {
}
#u216.a {
}
#u217.a {
}
#u217_img.a {
}
#u218.a {
}
#u219.a {
  position:absolute;
  left:40px;
  top:110px;
  width:80px;
  height:90px;
}
#u219_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u220.a {
  position:absolute;
  left:960px;
  top:110px;
  width:80px;
  height:90px;
}
#u220_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u221.a {
  position:absolute;
  left:0px;
  top:750px;
  width:1080px;
  height:370px;
}
#u221_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
