body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u220 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u222 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u223 {
  position:absolute;
  left:21px;
  top:776px;
  width:203px;
  height:200px;
}
#u224 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u225 {
  position:absolute;
  left:21px;
  top:1155px;
  width:203px;
  height:200px;
}
#u226 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u227 {
  position:absolute;
  left:21px;
  top:1520px;
  width:203px;
  height:200px;
}
#u228 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:23px;
}
#u229 {
  position:absolute;
  left:21px;
  top:1897px;
  width:203px;
  height:23px;
}
#u230 {
  position:absolute;
  left:2px;
  top:4px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:40px;
  top:110px;
  width:80px;
  height:90px;
  overflow:hidden;
}
#u231_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u231_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u232 {
  position:absolute;
  left:960px;
  top:110px;
  width:80px;
  height:90px;
  overflow:hidden;
}
#u232_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u233 {
  position:absolute;
  left:0px;
  top:750px;
  width:1080px;
  height:370px;
  overflow:hidden;
}
#u233_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u233_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
