body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u213 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u215 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u216 {
  position:absolute;
  left:21px;
  top:776px;
  width:203px;
  height:200px;
}
#u217 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u218 {
  position:absolute;
  left:21px;
  top:1155px;
  width:203px;
  height:200px;
}
#u219 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:200px;
}
#u220 {
  position:absolute;
  left:21px;
  top:1520px;
  width:203px;
  height:200px;
}
#u221 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:23px;
}
#u222 {
  position:absolute;
  left:21px;
  top:1897px;
  width:203px;
  height:23px;
}
#u223 {
  position:absolute;
  left:2px;
  top:4px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:40px;
  top:110px;
  width:80px;
  height:90px;
  overflow:hidden;
}
#u224_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u224_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u225 {
  position:absolute;
  left:960px;
  top:110px;
  width:80px;
  height:90px;
  overflow:hidden;
}
#u225_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u225_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u226 {
  position:absolute;
  left:0px;
  top:750px;
  width:1080px;
  height:370px;
  overflow:hidden;
}
#u226_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:370px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u212.a {
}
#u212_img.a {
}
#u213.a {
}
#u214.a {
}
#u214_img.a {
}
#u215.a {
}
#u216.a {
}
#u216_img.a {
}
#u217.a {
}
#u218.a {
}
#u218_img.a {
}
#u219.a {
}
#u220.a {
}
#u220_img.a {
}
#u221.a {
}
#u222.a {
}
#u222_img.a {
}
#u223.a {
}
#u224.a {
  position:absolute;
  left:40px;
  top:110px;
  width:80px;
  height:90px;
}
#u224_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u225.a {
  position:absolute;
  left:960px;
  top:110px;
  width:80px;
  height:90px;
}
#u225_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u226.a {
  position:absolute;
  left:0px;
  top:750px;
  width:1080px;
  height:370px;
}
#u226_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
