body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u308 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:40px;
  top:320px;
  width:860px;
  height:1280px;
  overflow:hidden;
}
#u309_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u309_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u310 {
  position:absolute;
  left:24px;
  top:94px;
  width:100px;
  height:120px;
  overflow:hidden;
}
#u310_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u310_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u311 {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
  overflow:hidden;
}
#u311_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u311_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u312 {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u312_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u312_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u313 {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
  overflow:hidden;
}
#u313_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u313_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u307.a {
}
#u307_img.a {
}
#u308.a {
}
#u309.a {
  position:absolute;
  left:40px;
  top:320px;
  width:860px;
  height:1280px;
}
#u309_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u310.a {
  position:absolute;
  left:24px;
  top:94px;
  width:100px;
  height:120px;
}
#u310_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u311.a {
  position:absolute;
  left:940px;
  top:96px;
  width:121px;
  height:120px;
}
#u311_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u312.a {
  position:absolute;
  left:940px;
  top:261px;
  width:118px;
  height:115px;
}
#u312_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u313.a {
  position:absolute;
  left:940px;
  top:389px;
  width:118px;
  height:115px;
}
#u313_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
